@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap");

body {
  font-family: 'Spectral';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><rect x="0" y="0" width="40" height="40" stroke="white" stroke-opacity="0.1" stroke-width="0.935238" fill="black"></rect></svg>');
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0000;
}

.headerName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  line-height: 0.2rem;
}

.audio_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  color: #ffff;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: end;
}

.logo {
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 3%;
  cursor: pointer;
}

h2 {
  color: white;
  font-family: monospace;
}


/* CHESS PROFILE AVATARS */
.avatar {
  border-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffff;
  margin: -50px;
  transform: rotate(0deg) translate(100px) rotate(0deg);   
}

.avatar:nth-child(2) {
  transform: rotate(60deg) translate(100px) rotate(-60deg); 
}

.avatar:nth-child(3) {
  transform: rotate(120deg) translate(100px) rotate(-120deg); 
}

.avatar:nth-child(4) {
  transform: rotate(180deg) translate(100px) rotate(-180deg); 
}

.avatar:nth-child(5) {
  transform: rotate(240deg) translate(100px) rotate(-240deg); 
}

.avatar img{
  border-radius: 50%;
  cursor: pointer;
}

.modal_close_button{
  color: #1cbb1c;
  cursor: pointer;
  border: none;
  background: transparent;
}

/* MODAL CARD */  
/* .modal{
  border: 2px solid #0f960f;
   margin: 50px;
  padding: 20px;
  width: 25%;
  border-radius: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 20px;
  border-radius: 5px;
  color: white;
} */

.modal {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4b0a0a;
  padding: 20px;
  border-radius: 5px; 
}
span{
  color: #1cbb1c;
}
/* .avatar-container{
  display: none;
} */

p{
  font-size: medium;
  color: white;
  font-family:monospace;
}